.employee-avatar-container {
  display: flex;
  flex-direction: row;
}
  
.employee-avatar-container img {
  width: 100px;
  height: 100px;
  margin-right: 20px;
  border-radius: 50px;
}
  
.employee-avatar-information-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 1.6;
}
