.employee-avatar-container {
  display: flex;
  flex-direction: row;
  min-width:  420px;
}
  
.employee-avatar-container img {
  width: 100px;
  height: 100px;
  margin-right: 20px;
  border-radius: 50px;
  margin-left: 10px;
}
  
.employee-avatar-information-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 1.6;
}

.employee-avatar-information-container span {
  font-weight: bold;
}

.employee-avatar-information-container span a {
  font-weight: normal;
}

@media only screen and (max-width: 1098px) {
  .employee-avatar-container {
    flex-direction: column;
    margin: 0 auto;
  }

  .employee-avatar-container img {
    margin: 0 auto;
  }

  .employee-avatar-information-container {
    margin: 0 auto;
  }
}