.employee-container {
  display: flex;
  flex-direction: column;
  margin-left: 50px;
  margin-bottom: 10px;
  padding-left: 20px;
  box-shadow: 2px 2px 5px gray;
  max-width: 900px;
  border-radius: 20px;
}

.employee-container ul {
  list-style-type: none;
  padding: 0;
}

.employee-avatar-container {
  display: flex;
  flex-direction: row;
}

.employee-avatar-container img {
  padding-right: 20px;
}

.employee-avatar-information-container {
  display: flex;
  flex-direction: column;
}
